* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(69, 54, 156, 0.3);
    border-radius: 30px;
    padding: 0 30px;
}

.nav .logo {
    color: black;
}

.nav-ul .nav-li {

    display: inline-block;
    /* margin: 0 30px; */

}

.nav-li .nav-a {
    text-decoration: none;
    font-size: 21px;
    font-family: "montserrat";
    font-weight: 100;
    color: black;
    margin: 0 50px;

}

.icons i {
    font-size: 21px;
    color: #ffffff;
    align-items: center;
}

.icons .bar {
    display: none;
}

#header {
    background: url("/images/Image\ \(1\).png");
    background-size: 100% 100%;
    padding: 10px 0;
}

.header-content .header-h1 {
    font-size: 72px;
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    margin: 50px;
    /* text-align: center; */
}

.header-content .header-p {
    font-size: clamp(16px, 3.4vw, 30px);
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    width: 50%;
    margin: 30px;
}

.header-content .btn-header {

    font-size: 30px;
    color: #000000;
    font-weight: 100;
    font-family: "Montserrat";
    border-radius: 30px;
    background-color: white;
    border: none;
    padding: 10px 25px;
    text-transform: capitalize;
    margin: 50px;
}

#menu {
    /* background-color: #222222; */
    background: url("images/Background\ \(1\).png");
    padding: 70px 0px;
    position: relative;
    overflow: hidden;
    /* z-index: 1; */
}

.menu-content {
    text-align: center;
    color: #ffffff;
}

.menu-content .menu-h2 {
    font-size: clamp(20px, 6.5vw, 64px);
    font-weight: 400;
    font-family: "Abril Fatface";

}

.menu-content .menu-p {
    font-size: 25px;
    font-size: clamp(16px, 4.2vw, 25px);
    font-weight: 100;
    font-family: "Montserrat";
    width: 50%;
    margin: 50px auto;
}

.card-menu .row {
    display: flex;
}

.card-menu .row .col {
    width: 33.33%;
    /* border: 2px solid white; */
}

.card .card-img {
    width: 70%;
    margin: 0 auto;
}

.card-text {
    font-family: "Montserrat";
    text-align: center;
    color: #ffffff;
    margin: 20px 0px;
}

.card-text .card-h4 {
    font-size: 28px;
    font-weight: 100;
}

.card-text .card-p {
    font-size: 17px;
    font-weight: 100;
    width: 70%;
    margin: 0 auto;
}

#sec3 {
    padding: 70px 0px;
    background-image: url("images/sec3-back.png");
    background-size: 100% 100%;
}

.sec3 .row {
    display: flex;
}

.sec3 .row .col1 {
    width: 50%;
    /* border: 2px solid white; */
    /* padding: 40px 0px; */
    /* background: url("/food/images/cr1.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: 70% 70%; */
    margin: 0 auto;
}

.sec3 .row .col1 .img {
    width: 60%;
    margin: 10px 50px;
}

.sec3 .row .col {
    width: 50%;
    /* border: 2px solid white; */
    padding: 40px 0px;
}

.sec3 .sec3-h2 {

    font-size: clamp(20px, 7.5vw, 75px);
    color: #21243d;
    font-weight: 400;
    font-family: "Abril Fatface";
}

.sec3 .sec3-p {
    font-size: clamp(16px, 3.4vw, 30px);
    color: #21243d;
    font-weight: 100;
    font-family: "Montserrat";
    width: 80%;
    margin: 30px 0px;
}

.sec3 .sec3-btn {
    font-size: clamp(16px, 3vw, 25px);
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
    background-color: #21243d;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
}

#sec4 {
    padding: 70px 0px;
    background: url("/images/Background\ \(1\).png");
    background-size: 100% 100%;
}

.sec4 .sec4-h1 {
    font-size: 62px;
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
}

.sec4 .sec4-p {
    /* width: 1693px; */
    /* height: 210px; */
    font-size: 25px;
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
}

.sec4-card .row .col {
    display: flex;
    justify-content: space-around;
}

.sec4 .sec4-p {
    font-size: clamp(16px, 3.4vw, 30px);
    width: 60%;
    margin: 50px auto;
}

.sec4-card .row .col .card {
    width: 20%;
    border: 5px solid white;
    border-radius: 50%;
    /* margin: 50px; */
    /* width: 537px; */
    height: 210px;
    font-size: 42px;
    text-transform: uppercase;
    /* color: #ffffff; */
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
    /* border-color: #ffffff; */
}

#sec5 {
    padding: 70px 0px;
    background-image: url("/images/sec3-back.png");
    background-size: 100% 100%;
}

.sec5 .row {
    display: flex;
}

.sec5 .row .col1 {
    width: 50%;
    /* border: 2px solid white; */
    padding: 40px 0px;
    /* background: url("/food/images/cr1.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: 70% 70%; */
    margin: 0 auto;
}

.sec5 .row .col1 .img {
    width: 60%;
    margin: 10px 50px;
}

.sec5 .row .col {
    width: 50%;
    /* border: 2px solid white; */
    padding: 40px 0px;
}

.sec5 .sec5-h2 {

    font-size: clamp(20px, 7.5vw, 75px);
    color: #21243d;
    font-weight: 400;
    font-family: "Abril Fatface";
}

.sec5 .sec5-p {
    font-size: clamp(16px, 3.4vw, 30px);
    font-family: "Montserrat";
    width: 80%;
    margin: 30px 0px;


    color: #21243d;
    font-weight: 100;


}

.sec5 .sec5-btn {
    font-size: clamp(16px, 3vw, 25px);
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
    background-color: #21243d;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
}

#sec6 {
    padding: 70px 0px;

    background: url("/images/v.png");
    background-size: 100% 100%;

}

.sec6 .card-img {
    width: 20%;
    margin: 0px auto;

}

.sec6 .card-text {
    width: 70%;
    margin: 40px auto;
    font-size: 52px;
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;

}

.sec6 .card-h4 {
    margin: 30px 0;
    font-size: 45px;
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
}


#sec7 {
    padding: 70px 0px;
    background-image: url("images/sec3-back.png");
    background-size: 100% 100%;
}

.sec7 .sec7-h2 {
    font-size: 75px;
    color: #21243d;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
}

.sec7 .sec7-p {
    width: 65%;
    /* height: 210px; */
    margin: 20px auto;
    font-size: 30px;
    color: #21243d;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
}

.sec7 .sub {
    width: 50%;
    margin: 50px auto;
    border-radius: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.sec7 .sub input {
    flex: 1;
    height: 100%;

    border: none;
    outline: none;

    padding-left: 40px;
    font-size: 20px;

}

.sec7 .sub button {
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-color: #21243d;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#foot {
    background-color: black;
    padding: 70px 0px;
}

.foot .row {
    display: flex;
}

.foot .row .col-4 {
    width: 40%;
}

.foot .row .col-6 {
    width: 60%;
}

.footdata .row {
    display: flex;
}

.footdata .row .col {
    width: 33.33%;
}

.foot-text .foot-h3 {
    font-size: clamp(18px, 4vw, 35px);
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
}

.foot-ul {
    list-style: none;
    margin-top: 20px;
}

.foot-ul .foot-li {
    margin: 10px 0px;
}

.foot-ul .foot-li .foot-a {
    font-size: clamp(16px, 3vw, 25px);
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    text-decoration: none;
}

.foot-text .foot-p {
    width: 90%;
    font-size: clamp(16px, 3vw, 25px);
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    margin: 20px 0px;
}